.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #282c34;

  display: flex;
  flex-direction: column;

}

.mobile header {
  height: 50px;
  /* position: sticky; */
}

.mobile-container {
  padding-top: 50px;
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.mobile-container .video-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 380;
  width: 100%;
  height: 20vh;
  transition: opacity 1s ease 0s;

  position: relative;
}


.mobile-container .intro-text-container {
  margin-top: 150px;
  height: 100vh;
  width: 80vw;
}

h1, h2, p {
  color: #ffffff;
}

p {
  font-size: var(--font-size-lg);
  line-height: 1.875rem;
  letter-spacing: 0;
}

.caption {
  font-size: var(--font-size-sm);
  font-style: italic;
}

.mobile-text {
  font-style: italic;
}


.mobile-image-container {
  /* position: relative; */
}

.mobile-image-container figure {
  /* width: 50vw; */
}

.intro-text-container {
  z-index: 400;
}