.video-container {
    background-color: #282c34;
    position: fixed;
    top: 50px;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;
    z-index: 380;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s ease 0s;
}